<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="TA-2016-6N1-WEB-Sistema-ImobiliarioPU" transaction-type="JTA">
    <provider>org.hibernate.ejb.HibernatePersistence</provider>
    <jta-data-source>java:app/jdbc/Sistema-Imobiliario-2016-TA</jta-data-source>
    <class>br.edu.ifsul.modelo.Caracteristica</class>
    <class>br.edu.ifsul.modelo.Cidade</class>
    <class>br.edu.ifsul.modelo.CobrancaAluguel</class>
    <class>br.edu.ifsul.modelo.Condominio</class>
    <class>br.edu.ifsul.modelo.Contrato</class>
    <class>br.edu.ifsul.modelo.Estado</class>
    <class>br.edu.ifsul.modelo.Imovel</class>
    <class>br.edu.ifsul.modelo.Pessoa</class>
    <class>br.edu.ifsul.modelo.PessoaFisica</class>
    <class>br.edu.ifsul.modelo.PessoaJuridica</class>
    <class>br.edu.ifsul.modelo.Telefone</class>
    <properties>
        <property name="hibernate.hbm2ddl.auto" value="update"/>
        <property name="hibernate.dialect" value="org.hibernate.dialect.PostgreSQLDialect"/> 
        <property name="hibernate.transaction.jta.platform" value="org.hibernate.service.jta.platform.internal.SunOneJtaPlatform"/>
        <property name="hibernate.classloading.use_current_tccl_as_parent" value="false"/> 
    </properties>
  </persistence-unit>
</persistence>
